- if @job
  %h2= "Job #{@job.id}"
  
  %form{ :action => "/jobs/new", :method => "get"}
    %input{:type => "hidden", :name => "host", :class => "text", :value => @job.host}
    %input{:type => "hidden", :name => "spreadsheet", :class => "text", :value => @job.spreadsheet}
    %input{:type => "hidden", :name => "worksheet", :class => "text", :value => @job.worksheet}

    %dl.dl-horizontal
      %dt Created
      %dd= @job.created || " "
      %dt Host
      %dd= @job.host || " "
      %dt Spreadsheet
      %dd= @job.spreadsheet
      %dt Worksheet
      %dd= "#{@job.worksheet}"
      %dt Status
      %dd= "#{@job.status}"
      %dt Reason
      %dd= "#{@job.reason}"
      %dt
      %dd
        %p
        %input{:type => "submit", :name => "rerun", :value => "Run Again", :class => "button", :autofocus => true}

  %table.table.table-bordered.table-hover
    %thead
      %th Test ID
      %th Result
      %th Reason
      %th Parameters
      %th Response
    %tbody
      - JSON.parse("#{@job.results}").each do |result|
        %tr
          %td= result['id']
          %td= result['result']
          %td= result['reason']
          %td= result['params']
          %td= result['response']

- else
  %h2= "New Job"
  %form{ :action => "/jobs", :method => "post"}
    %fieldset
      %label{:for => "host"} Host
      %input{:type => "text", :name => "host", :class => "text", :value => @host}
      %label{:for => "spreadsheet"} Spreadsheet Name
      %input{:type => "text", :name => "spreadsheet", :class => "text", :value => @spreadsheet}
      %label{:for => "worksheet"} Worksheet Name
      %input{:type => "text", :name => "worksheet", :class => "text", :value => @worksheet}
      %label{:for => "local"} Only save results locally
      %input{:type => "checkbox", :name => "local", :class => "checkbox", :checked => true}
      %p
      %p
        %input{:type => "submit", :name => "queue", :value => "Queue", :class => "button"}
        %input{:type => "submit", :name => "run", :value => "Run Now", :class => "button", :autofocus => true}


