- if @job
  %h2= "Job #{@job.id}"

  %dl.dl-horizontal
    %dt Host
    %dd= @job.host
    %dt Spreadsheet
    %dd= @job.spreadsheet
    %dt Worksheet
    %dd= @job.worksheet
    %dt Created
    %dd= @job.created_at
    %dt Started
    %dd= @job.started_at ? @job.started_at : 'n/a'
    %dt Finished
    %dd= @job.finished_at ? @job.finished_at : 'n/a'
    %dt Time to complete
    %dd= @job.time_to_complete ? @job.time_to_complete : 'n/a'
    %dt Tests
    %dd= @results.size
    %dt Status
    %dd= @job.status
    - if @job.reason
      %dt Reason
      %dd= @job.reason

  %span.pull-right
    %form{ :action => "/jobs/new", :method => "get"}
      %input{:type => "hidden", :name => "host", :class => "text", :value => @job.host}
      %input{:type => "hidden", :name => "spreadsheet", :class => "text", :value => @job.spreadsheet}
      %input{:type => "hidden", :name => "worksheet", :class => "text", :value => @job.worksheet}
      %input{:type => "submit", :name => "rerun", :value => "Edit job", :class => "btn btn-primary", :autofocus => true}

  %table.table.table-bordered.table-hover
    %thead
      %th Test ID
      %th Result
      %th Reason
      %th Parameters
      %th Response
    %tbody
      - @results.each do |result|
        %tr
          %td= result.id
          %td= result.result
          %td= result.reason
          %td
            %a(href='#{result.request}') #{result.params}
          %td= result.response

- else
  %h2= "New Job"

  %br
  %br

  %form{ :action => "/jobs", :method => "post"}

    %dl.dl-horizontal
      %dt Host
      %dd
        %input{:type => "text", :name => "host", :class => "text", :value => @host}
      %dt Spreadsheet
      %dd
        %input{:type => "text", :name => "spreadsheet", :class => "text", :value => @spreadsheet}
      %dt Worksheet
      %dd
        %input{:type => "text", :name => "worksheet", :class => "text", :value => @worksheet}
      %dt Only save locally
      %dd
        %input{:type => "checkbox", :name => "local", :class => "checkbox", :checked => true}
      %dt
      %dd
        %br
        %input{:type => "submit", :name => "run", :value => "Run", :class => "btn btn-primary", :autofocus => true}

