%h1= "Jobs"

%form{ :action => "", :method => "post"}
  %fieldset
    %ol
      %li
        %label{:for => "spreadsheet"} Spreadsheet Name:
        %input{:type => "text", :name => "spreadsheet", :class => "text", :value => @spreadsheet}
      %li
        %label{:for => "worksheet"} Worksheet Name:
        %input{:type => "text", :name => "worksheet", :class => "text", :value => @worksheet}
    %input{:type => "submit", :value => "Send", :class => "button"}

%table
  %thead
    %th ID
    %th Spreadsheet
    %th Worksheet
    %th Status
  %tbody
  - @jobs.each do |job|
    %tr
      %td= job.id
      %td= job.spreadsheet
      %td= job.worksheet
      %td
        %a{title: "#{job.status}", href: "/jobs/#{job.id}"} #{job.status}

%p
  %a{title: "Results", href: "/results"} Results