%h2= "Jobs"

%span.pull-right
  .btn-group
    %form{ :action => "/reset", :method => "post"}
      %input{:type => "submit", :name => "reset", :value => "Delete all jobs", :class => "btn btn-warning", :onclick => "return confirm('Are you sure?');"}
  .btn-group
    %form{ :action => "/jobs/new", :method => "get"}
      %input{:type => "submit", :name => "reset", :value => "New job", :class => "btn btn-primary"}


%table.table.table-bordered.table-hover
  %thead
    %th ID
    %th Created
    %th Host
    %th Spreadsheet
    %th Worksheet
    %th Status
  %tbody
  - @jobs.each do |job|
    %tr
      %td= job.id
      %td= job.created
      %td= job.host
      %td= job.spreadsheet
      %td= job.worksheet
      %td
        %a{title: "#{job.status}", href: "/jobs/#{job.id}"} #{job.status}
